/* Set h1 header to blue */
*{
    background-color: rgb(100, 194, 123);
}
h1 ~ p{
    color: blue ;
    text-decoration: underline;
    text-align: center;
    background-color: rgb(200,200,200,.5);
}
h1:hover{
    background-color: blueviolet;
}
.home{
    display: block;
}
h2 + h3{
    display: inline;
    color:#f0f;
}
h2:active{
    color:rgb(73, 25, 204);
}
h3 em {
    color: hsl(0, 100%, 50%);
    display: inline;
    
}
h2:hover {
    color:rgb(96, 211, 20);
}
h2.context{
    color:#f0f;
}
.something
{
    color:aqua;
    background-color: beige;
}
a[href = "#Attendance"]{
    color:rgb(214, 167, 14)
}
li{
    color:rgb(16, 248, 27)
}
.block,
#block
{
    height: 50px;
    width: 100px;
    margin-top: 1cm;
    border-style: dotted;
    padding-top: .5rem;
}
#sth
{
    max-width: 100%;
    min-width: none;
    margin: auto;
    border: 2px solid black;
    padding: 1em 2em 5px 3em;
}
#wild
{
    position: static;
    margin: 3mm 4mm 5mm 0mm;
    border: 2px solid red;
    padding: 2ex 1ex 3ex 4ex;
}
#cool
{
    position: relative;
    border-width: 4px;
    border-color:#f0f;
    border-radius: 30px;
    border-style: dotted;
}
.container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    background-color: aqua;
    padding: 10px;
}

.container > div{
    background-color: #f0f;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.first{
    grid-column: 1 / span 2;
}

#flexProp
{
    width: 400px;
    height: 150px;
    border:10px dotted crimson;
    display: flex;
}
@font-face {
    font-family: Fuzzy Bubble;
    src: url(FuzzyBubbles-Bold.ttf);
}

#item1
{
    flex-grow:4;
    background-color:aquamarine;
    align-self: flex-end;
    font-family: Fuzzy Bubble;
}

#item2
{
    flex-shrink: 3;
    background-color: blueviolet;
    align-self: flex-start;
}

#item3
{
    flex-grow:2;
    background-color: bisque;
    align-self: center;
}

@media (min-width: 200px){
    #steam
    {
        background-color:rgb(167, 110, 25);
    }
}



